.mainButton {
  min-height: 83px;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 38px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  user-select: none;

}

.colorBtn {
  background-color: #1b1b32;
}

.colorBtn-dark {
  background-color: #0d0d25;
}

.colorBtn-light {
  background-color: #3c3c66;
}

.mainButton:hover {
  background-color: #1c1c32c1; 
}

.colorBtn-dark:hover {
  background-color: #0d0d25e1;
}

.colorBtn-light:hover {
  background-color: #3d3d67da;
}





